# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/
env/
.env

# Firebase
serviceAccountKey.json

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Uploads
backend/static/uploads/*
!backend/static/uploads/.gitkeep
